<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseRef" value="/"/>
    <add key="ContactEmail" value="george@lastweekin.net"/>
    <add key="ServerUrl" value="https://www.lastweekin.net"/>
    <add key="SiteTitle" value="Last Week In .NET" />
    <add key="SiteDescription" value="Keep up with .NET, a week at a time."/>
    <add key="GoogleAnalytics" value="UA-57261022-1"/>
    <add key="Lang" value="en-US"/>
  </appSettings>
</configuration>
