<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseRef" value="/" />
    <add key="SiteTitle" value="Last Week in .NET"/>
    <add key="ServerUrl" value="https://lastweekin.net"/>
    <add key="SiteDescription" value=".NET News and Releases - with Color Commentary"/>
  </appSettings>
</configuration>