<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseRef" value="/" />
    <add key="SiteTitle" value="Double Your Productivity"/>
    <add key="ServerUrl" value="https://www.doubleyourproductivity.io"/>
    <add key="SiteDescription" value="Helping your .NET Software Team deliver value, worry free"/>
  </appSettings>
</configuration>