<!-- START NAV -->
<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				Double Your Productivity
			</a>
			<span class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu">
			<div class="navbar-end">
				<a class="navbar-item is-active is-size-5 has-text-weight-semibold" href="/">
					Home
				</a>
				<a class="navbar-item is-size-5 has-text-weight-semibold" href="paid">
					Training and Advising
				</a>
				<a class="navbar-item is-size-5 has-text-weight-semibold" href="free">
					Free Content
				</a>
				<a class="navbar-item is-size-5 has-text-weight-semibold" href="https://course.doubleyourproductivity.io">
					TDD Course
				</a>
			</div>
		</div>
	</div>
</nav>
<!-- END NAV -->